/* ===BASE STYLES=== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: #BEE6E8;
  font: 1.6rem 'Exo', sans-serif;
}

html,
body {
  margin: 0;
}

fieldset {
  border: none;
}

input::placeholder {
  color: #ACB3B9;
  text-align: right;
}

button {
  cursor: pointer;
}

label[for="promocode"] {
  cursor: pointer;
}


/* ===BASE LAYOUT STYLES=== */


/* HEADER */

.header {
  margin-bottom: 0.18em;
  text-align: center;
}

.header__main_heading {
  padding: .875em 0;
  color: #fff;
  background: #223644;
}

.header__heading {
  margin: 1.25em 0 .54em 0;
  color: #223644;
}

.header__text {
  color: #9CA4AA;
  margin-bottom: 0;
  padding-bottom: 2.25em;
  border-bottom: 4px solid #223644;
}


/* LAYOUT CONTAINERS */

.contact_field {
  padding: 0 0 1.87em 0;
  border-bottom: 2px solid #33414D;
}

.news_field {
  color: #3C5D71;
  padding: 0 0 1.87em 0;
}

.signup_form,
.contact_field,
.news_field,
.contact_field__row {
  display: flex;
  flex-direction: column;
}

.copyrights {
  text-align: center;
}

.container {
  width: 95%;
  margin: 0 auto;
}


/* CONTACT FIELD */

.default_legend {
  padding: 1.25em 0;
  font-size: 2.4rem;
  font-weight: 700;
  color: #223644;
}

.default_label {
  margin: 1.25em 0 .93em 0;
  color: #3C5D71;
}

.contact_field__row:nth-of-type(1) .default_label {
  margin-top: 0;
}

.default_input {
  width: 100%;
  height: 3.85em;
  padding: 0.87em;
  font: 1.3rem 'Exo', sans-serif;
  border-radius: 5px;
  border: none;
  background: #EFF0F1;
  transition: .4s all;
}

.default_input:focus {
  background: rgba(239, 240, 241, .3);
  outline: none;
  border: 2px solid #2C698D;
}

.default_select {
  width: 100%;
  height: 3.85em;
  padding: 0.87em;
  font: 1.3rem 'Exo', sans-serif;
  border-radius: 5px;
  border: none;
  background: #EFF0F1;
  transition: .5s all;
}

.default_select:focus {
  background: rgba(239, 240, 241, .3);
  outline: none;
  border: 2px solid #2C698D;
}

.default_btn {
  border: none;
  color: #fff;
  font: 700 1.6rem 'Exo', sans-serif;
  border-radius: 5px;
}

.zip_code_input {
  width: 33%;
}

.user_state {
  color: #ACB3B9;
}

.user_state option,
.user_state optgroup {
  color: #000;
}

.signup_form {
  border-top: 2px solid #223644;
}

input[type=number],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}

.select_placeholder {
  display: none;
}


/* NEWS FIELD */

.checkbox_container {
  position: relative;
  padding-left: 13px;
}

.checkbox_container .default_checkbox {
  display: none;
}

.news_field__label {
  padding-left: 1em;
}

.checkbox_container .news_field__label::after {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 50%;
  left: 1.1rem;
  transform: translate(-50%, -50%);
  content: '';
  border: 1px solid #989898;
  border-radius: 2px;
}

.checkbox_container .default_checkbox:checked+.news_field__label::after {
  background: #00A0FC;
  content: "\2714";
  font-size: .9rem;
  color: #fff;
  border: none;
  text-align: center;
}

.checkbox_container {
  margin: 1.37em 0;
}

.checkbox_container:nth-last-of-type(1) {
  margin: 1.37em 0 0 0;
}

.news_format__heading {
  margin-top: 2em;
}

.news_textarea {
  width: 100%;
  min-height: 6.25em;
  background: #EFF0F1;
  outline: none;
  resize: vertical;
  border: none;
  border-radius: 5px;
}

.signup_btn {
  height: 3.75em;
  background: #00BCB6;
}

.news_label {
  margin: 1.87em 0 0 0;
}

.default_radio {
  margin-right: .81em;
}

.copyrights {
  padding-top: 2.3em;
  font-size: 1.4rem;
  color: #9CA4AA;
}


/* THEME-SWITCHER */

.theme_selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.theme_selector__switch {
  padding: .2em .6em;
  cursor: pointer;
  transition: .5s all;
}

.theme_selector__switch:hover {
  transform: scale(1.1);
}

.d_mobile_none_f {
  display: none;
}


/* ===MEDIA QUERIES === */

@media (min-width: 768px) {
  .d_mobile_none_f {
    display: flex;
  }
  .container {
    max-width: 600px;
  }
  .header__heading {
    margin-top: 2.83em;
  }
  input::placeholder {
    padding-right: .9em;
  }
  .contact_field__row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25em;
  }
  .default_label {
    width: 25%;
    margin: 0;
    font-weight: 600;
  }
  .default_legend {
    padding: 2.08em 0 1.25em 0;
  }
  .default_input {
    width: 75%;
    margin: 0;
  }
  .default_select {
    width: 75%;
  }
  .zip_code_input {
    width: 23%;
    margin-right: auto;
  }
  .news_field {
    font-weight: 600;
  }
  .news_label {
    width: 100%;
    padding-top: 1.37em;
  }
  .theme_selector {
    justify-content: flex-start;
  }
}